* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: helvetica, sans-serif;
}

a.link-button {
    display: inline-block;
    background: #008638;
    color: #fcfcfc;
    border: 1px solid;
    border-radius: .3rem;
    border-color: #fcfcfc;
    padding: .8rem 2rem;
    font-size: 1.25rem;
    text-decoration: none;
}

a.link-button:hover {
    color: #ffffff;
    background: #38b772;
}

header {
    color: #fcfcfd;
    background: #008638;
    padding-top: 16px;
    padding-bottom: 60px;
}

header#community {
    padding-bottom: 16px;
}

#header-content {
    max-width: 800px;
    margin: 0 auto;
}

#rename-info {
    font-size: 0.85em;
    padding-bottom: 1.25em;
}

#rename-info a {
    color: rgba(255, 255, 255, .85);
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .85);
}

#rename-info a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

#header-content nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

#community #header-content nav {
    margin-bottom: 0px;
}

#header-content nav h1 {
    margin: 0;
}

#header-content nav h1 a {
    color: #FFFFFF;
    text-decoration: none;
}

#header-content nav h1 .big {
    font-size: 1.25em;
}

#header-content nav h1 .small {
    font-size: .5em;
}

#header-content nav ul {
    display: flex;
    align-items: flex-end;

    list-style: none;
    margin: 0;
    padding: 0;
}

#header-content nav ul li a {
    margin: 0 6px;
    padding: 0 3px;
    color: rgba(255, 255, 255, .85);
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .85);
}

#header-content nav ul li a:hover {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

#header-content #title {
    display: flex;
    align-items: center;
}

#header-content #title img {
    width: 200px;
    height: 181px;
    margin-right: 32px;
}

#header-content #title h2 {
    font-weight: 500;
    font-size: 3.5rem;
    margin: 1rem 0;
}

#header-content #title #title-links {
    display: flex;
    justify-content: space-evenly;
}

#header-content ul {
    margin-bottom: 40px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

main a {
    color: #36af6d;
}

main .shell {
    margin: 0;
    padding: 1em;
    width: 400px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    white-space: pre-line;
    font-family: monospace;
}

main .left {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

main .right {
    float: right;
    margin-left: 1em;
    margin-bottom: 1em;
}

main .clear {
    clear: both;
}

footer {
    color: rgba(255, 255, 255, .85);
    background: #008638;
    padding: 1em;
    font-size: 0.95rem;
    font-weight: 300;
    flex-grow: 1;
}

footer a {
    color: rgba(255, 255, 255, .85);
    padding: 0 3px;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .85);
}

footer a:hover {
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

footer ul li {
    display: inline;
    border-right: 1px solid white;
    padding: 0 0.5em;
}

footer ul li:last-child {
    border-right: none;
}

@media screen and (max-width: 800px) {
    #header-content {
        padding: 16px;
    }

    #header-content nav {
        flex-direction: column;
        align-items: center;
    }

    #header-content nav h1 {
        margin-bottom: 8px;
    }

    #header-content #title {
        flex-direction: column;
    }

    #header-content #title img {
        margin-right: 0;
    }

    #header-content #title h2 {
        font-weight: 500;
        font-size: 2.5rem;
    }

    main {
        padding: 16px;
    }

    main .shell {
        width: auto;
    }

    main .left {
        float: initial;
        margin: initial;
    }

    main .right {
        float: initial;
        margin: initial;
    }
}
